pip==22.3.1
setuptools==65.6.3
sklearn==0.0.post1
tqdm==4.64.1
nltk==3.8.1
editdistance==0.6.2 
joblib==1.2.0
graphviz==0.20.1
pandas==1.5.2
gensim==4.3.0
matplotlib==3.6.2
tensorflow==2.12.0rc1
scikit-learn==1.2.2
bokeh==3.0.3
torch==2.0.0
torchsummary==1.5.1
subword_nmt==0.3.8
transformers==4.26.1
